<p>
  <%= @rsvp.name %> has RSVP'd, and will <%= @rsvp.attending ? 'be' : 'not be' %> attending the reception.
</p>

<% if @rsvp.attending %>
  <p>
    <%= @rsvp.name %> will be bringing a party of <%= @rsvp.guests %>.
  </p>
<% end %>

<div>
  <h2>Stats</h2>
  <p>
    Current RSVP count is <%= @stats.count %>.
    <br>
    Here's the break down:
  </p>
  <ul>
    <li>Attending: <%= @stats.yes %></li>
    <li>Not Attending: <%= @stats.no %></li>
    <li>Guest Count: <%= @stats.guests %></li>
    <li>Pork Orders: <%= @stats.pork %></li>
    <li>Chicken Orders: <%= @stats.chicken %></li>
  </ul>
</div>
