<h2>What's the Plan?</h2>

<p>
  We like to keep things interesting and non-traditional. We're getting married in late October with our immediate family there to witness the ceremony. Why have such a small wedding? Less stress, less distraction from the purpose of the big day, and we both think it fits our style and our desire for our wedding day.
  <br><br>
  However, we still want to celebrate with you all because, well, we love you! And who doesn't love a celebration?
</p>

