<h2>The Reception?</h2>

<div id='reception'>
  <p>
    Well it won't really feel like a "reception." It'll just be a day of fun in the sun (hopefully).
    Time to enjoy a campfire, bocce ball, cornhole, food, family, and friends. This is exactly the
    way we want to celebrate with you. Casual, simple, fun.
  </p>

  <h2>When?</h2>
  <p>
    September 21st at 1:00. We want to celebrate with you before the weather gets too chilly.
  </p>

  <h2>Where?</h2>
  <p>
    <%= link_to 'Promise Lutheran Church', 'http://promiseministries.org' %>. It's where our hearts are.
    There's plenty of room to spread our legs outdoors and plenty of room inside just in case the
    weather doesn't cooperate.
  </p>

</div>

<div id='map'>
  <%= link_to image_tag('map.png'), MAP_URL %>
</div>
