<h2>Registry</h2>

<p>
  If you feel like getting us a gift, we're registered at
  <%= link_to "Kohl's", KOHLS_REGISTRY %> and <%= link_to "Target", TARGET_REGISTRY %>.
  Registries can be pretty annoying, but those links should make it a little easier.
</p>
