<h2>RSVP</h2>

<p>
  To RSVP, just let us know how many heads will be coming with you and what you think you'd like to eat.
  If you've never had food from <%= link_to 'Nine Mile', 'http://www.ninemilerestaurant.com/Nine_Mile_Restaurant_%26_Catering.html' %>, you won't be disappointed.
</p>

<div ng-controller='RsvpCtrl'>

  <form id='new_rsvp' ng-submit='addRsvp()' ng-show='!hideForm'>
    <div class='field'>
      <label for='name'>Name</label>
      <input type='text' ng-model='newRsvp.name' name='name'>
    </div>

    <div class='field'>
      <label>Attending</label>
      <input ng-model='newRsvp.attending' type='radio' value='true' name='attending' id='attending_true'>
      <label for='attending_true'>Yes</label>
      <input ng-model='newRsvp.attending' type='radio' value='false' name='attending' id='attending_false'>
      <label for='attending_false'>No</label>
    </div>

    <div ng-class="{hidden: newRsvp.attending != 'true'}">

      <div id='extra-fields'>
        <div class='field'>
          <label for='guests'>Head Count</label>
          <select ng-model='newRsvp.guests' ng-options='item for item in guestNumbers' ng-change='calculateOptions()'>
          </select>
        </div>

        <div class='field'>
          <label for='pork_orders'>Pulled Pork Meals</label>
          <select ng-model='newRsvp.pork_orders' ng-options='item for item in porkOptions' name='pork_orders' ng-change='calculateChickenOptions()'>
          </select>
        </div>

        <div class='field'>
          <label for='chicken_orders'>Grilled Chicken Meals</label>
          <select ng-model='newRsvp.chicken_orders' ng-options='item for item in chickenOptions' name='chicken_orders' ng-change='calculatePorkOptions()'>
          </select>
        </div>
      </div>

    </div>

    <div class='actions'>
      <input type='submit' value='RSVP' ng-disabled='invalid()'>
    </div>
  </form>

  <div ng-show='hideForm'>
    <h3>Thanks for sending your RSVP!</h3>
  </div>

</div>
