<header>
  <%= render partial: 'header' %>
</header>

<section class='main-content tk-arno-pro-display'>
  <%= render partial: 'plan' %>
  <%= render partial: 'reception' %>
  <%= render partial: 'rsvp' %>
  <%= render partial: 'registry' %>
</section>
