// Base Element Settings

body {
  @include outer-container;

  background: $tan;
  font-size: 125%;

  @include media($mobile) {
    font-size: 100%;
  }
}

header,
section,
footer {
  @include span-columns(8);
  @include shift(2);

  @extend .center;

  @include media($mobile) {
    @include span-columns(8);
    @include shift(1);
  }
}

section {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: 100;
  color: $brown;
}

h2 {
  font-weight: bold;
  clear: both;
}

p {
  color: $brown;
}

a,
a:visited,
a:hover,
a:active {
  color: $purple;
}

img {
  max-width: 100%;
}

