// Main Content Styles
#reception {
  @include span-columns(4 of 8);
  float: left;

  @include media($tablet) {
    float: none;
    width: 100%;
  }
}

#map {
  @include span-columns(4 of 8);
  @include omega();
  @include media($tablet) {
    width: 100%;
  }
}

.field {
  margin-top: 5px;
  margin-bottom: 5px;
}
