// Variables
$brown: rgb(130, 71, 17);
$orange: rgb(252, 102, 33);
$purple: rgb(128, 17, 130);
$tan: rgb(255, 253, 244);

$body-font: $georgia;

$tablet: new-breakpoint(max-width 1040px 10);
$mobile: new-breakpoint(max-width 480px 10);
