<!DOCTYPE html>
<html ng-app='Rsvps'>
<head>
  <title>Keith & Kendra</title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- Typekit js -->
  <script type="text/javascript" src="//use.typekit.net/aqy2pvh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- Load JavaScripts -->
<%= load_angular %>
<%= javascript_include_tag "application" %>

</body>
</html>
